body {
    padding-top: 72px;
}

nav.top-bar {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    top: 0;

    ul li a {
        padding-top: 8px !important;
            img {
            padding: 8px;
            height: 40px;
        }
    }

    ul li.name a img {
        height: 64px;
        padding-left: 20px;
    }

    ul li.menu-icon a {
        padding-top: 0 !important;
    }
}


.circle {
    background: $primary-color;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;

    img {
        bottom: 0;
        height: 100%;
        width: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

.circle-shadow {
    margin-right: 1rem;
    box-shadow: 1rem -1rem 0 $primary-color;
}

@for $i from 1 through 5 {
    $margin: 10rem * $i;
    .stagger-#{$i} {
        margin-top: $margin;
    }
}

h1, h2, h2, h3, h4, h5, h6 {
    span.underline {
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 0.2em;
            position: absolute;
            bottom: 0.175em;
            left: 0;
            z-index: -1;
            background: $primary-color;
        }

        &.light {
            &:after {
                background: $warning-color;
            }
        }
    }
}


h1, h2, h3, h4 {
    text-transform: uppercase;
}

small {
   font-size: 1.1rem;
   font-weight: $font-weight-light;
}

.large {
    font-size: 1.8rem;
    padding-right: 1rem;
}

.panel {
    box-shadow: -3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
}

.urgent-needs {
    .theme {
        padding: 0;
        position: relative;
        margin-top: 60px;

        .theme-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            top: -60px;
            right: 5%;
            border-radius: 100%;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.info {
                border: 3px solid $info-color;
            }

            &.success {
                border: 3px solid $success-color;
            }

            &.primary {
                border: 3px solid $primary-color;
            }
        }

        .header {
            padding: 1rem;
            padding-top: 60px;

            &.bg-info {

            }
        }

        .need {
            padding: 1rem;

            p {
                margin-bottom: 0;
            }
        }

        .icon {
            height: 24px;
            padding-right: 6px;
            color: $white;
        }

        .progress {
            margin-bottom: 0;
        }

        .progress-bar {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;

    .arrow-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }

    .arrow-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }
}

.testimonials {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
}


.testimonial-card {
    padding: 10px;
    padding-bottom: 60px;

    .panel {
        padding: 2rem;
        padding-bottom: 60px;

        .testimonial-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            bottom: -60px;
            right: 10%;
            border-radius: 100%;
            border: 3px solid $primary-color;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .quote {
        p {
            font-size: rem-calc(22);
            font-style: italic;
        }
    }

    .line {
        width: 60px;
        height: 3px;
        background: $primary-color;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .attribution {
        font-weight: $font-weight-light;

        p {
            margin-bottom: 0;
        }

        .small {
            font-size: 1.1rem;
        }
    }

    @media #{$medium-up} {
        .quote {
            p {
                font-size: rem-calc(30);
                font-style: italic;
            }
        }

        .attribution {

            .small {
                font-size: 0.9rem;
            }
        }

    }
}


.padding-top-lg {
    padding-top: 2rem;
}

.padding-bottom-lg {
    padding-bottom: 2rem;
}

.margin-top-sm {
    margin-top: 1rem;
}
.margin-bottom-sm {
    margin-bottom: 1rem;
}

.bg-info {
    background: $info-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-primary {
    background: $primary-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-success {
    background: $success-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-warning {
    background: $warning-color;
}

.bg-ghost {
    background: $ghost;
}

.number {
    color: $primary-color;
    margin-bottom: 0.5rem;
}

.how-it-works {
    .step {
        position: relative;

        .number {
            position: absolute;
            z-index: 1;

            h3 {
                font-size: rem-calc(120);

            }
        }

        .circle {
            img {
                object-fit: contain;
            }
        }

        p {
            font-size: $h4-font-size;
            color: $white;
            font-weight: 600;
            margin-top: 1rem;
            line-height: 1.2;
        }
    }
}


.logos {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;

    .partner-logo img {
        max-height: 120px;
    }
}

.news.panel {
    h5 {
        color: $jet;
        margin-bottom: 1rem;
    }

    .news-logo {
        padding: 6px;
    }
}

.type-label {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 1rem;
}

.alert {
    color: $alert-color;
}

.banner {
    padding: 1rem;
    position: fixed;
    z-index: 3;
    transition: transform 0.5s linear, opacity 0.5s ease-in;
    right: 0;

    .alert-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        p {
            font-size: 1.2rem;
            font-weight: $font-weight-normal;
            line-height: 1.2;
            margin-bottom: 0;
        }

        button {
            white-space: nowrap;
        }
    }

    &.fade-out {
        transform: translate3d(0, -100%, 0) !important;
        opacity: 0 !important;
    }
}

h1 {
    font-size: calc(30px + 4.8vw);
}

h2 {
    font-size: calc(30px + 3.3vw);
}

h3 {
    font-size: calc(22px + 2.2vw);
}

.large-12 {
    z-index: 0;
}

footer {
    font-weight: $font-weight-light;
    padding-top: 2rem;

    h6 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {

            a {
                color: $jet;
                font-weight: $font-weight-light;
            }
        }

        &.inline {
            li {
                display:inline;
            }
        }
    }

    .needslist-invite-footer {
        img {
            height: 60px;
        }
    }

    .newsletter {
        display: flex;
        align-items: stretch;

        .form {
            flex-grow: 1;
        }

        #edit-actions--2 {
            margin-left: 10px;
        }

        #edit-mergevars-email {
            height: 50px;
            box-shadow: none;
        }
    }

    .bottom-bar {
        li {
            font-size: 1rem;
        }
    }
}

@media #{$medium-up} {

    .columns.overlap {
        height: 300px;
    }

    .stagger {
        margin-top: 6rem;
    }

    .padding-top-lg {
        padding-top: 4rem;
    }

    .padding-bottom-lg {
        padding-bottom: 4rem;
    }

    .margin-top-sm {
        margin-top: 1rem;
    }
    .margin-bottom-sm {
        margin-bottom: 1rem;
    }
}

@media #{$xlarge-up} {
    h1 {
        font-size: calc(30px + 3.6vw);
    }
}
