nav.top-bar {
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    .logo {

    }

    ul li a {
        img {
            padding: 8px;
            height: 40px;
        }
    }

    ul li.name {
      position: relative;

        .logo {
          position: absolute;
        }

        a img {
          height: 64px;
          padding-left: 20px;
        }
    }

    ul li.menu-icon a {
        padding-top: 0 !important;
    }
}

a:hover, a:focus {
    text-decoration: underline;
}

.landing-section {
  background: url('../images/bg-header.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 3rem;

  @media #{$medium-up} {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 100% 75%, 75% 100%, 0% 80%, 0% 75%);
  }
}

.landing-head {
  .overlay {
    height: 100%;
    width: 100%;
    background: rgba(13, 110, 124, 0.7);
    position: absolute;
    z-index: 0;
  }
}

@media #{$medium-up} {
  .landing-section {
    height: 80vh;
    margin-bottom: 0;
  }

  .landing-head {
    .overlay {
      height: 85vw;
      width: 85vw;
      background: rgba(13, 110, 124, 0.7);
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      top: -20vh;
      left: -3vw;
    }
  }
}

@media #{$large-up} {
  .landing-section {
    .overlay {
      height: 80vw;
      width: 80vw;
    }
  }
}


.circle {
    background: $primary-color;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;

    img {
        bottom: 0;
        height: 100%;
        width: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

.rectangle{
    background-color: $info-color;
    left: 0;
    right: 0;
    position: absolute;
    display: inline;
    width:100%;
    padding-top: 15rem;
    padding-bottom: 10rem;

    @media #{$large-up} {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 100% 75%, 75% 100%, 0% 75%, 0% 75%);
    }
    @media #{$medium-up} {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 100% 75%, 75% 100%, 0% 75%, 0% 75%);
    height: 100%;
    }
    @media #{$small-up} {
    height: 60%;
    }

    img {
      position: absolute;
      width: 100%;
      top:5%;
      object-fit: fill;

      @media #{$large-up} {
        top:5%;
      }
      @media #{$medium-up} {
        top:5%;
      }
    }
  }

  .top-image {
    position: absolute;

    img {
      margin-top:20%;

      @media #{$medium-up} {
        margin-top:35%;
      }

      @media #{$medium-only} {
        margin-top:35%;
      }

      @media #{$small-up} {
        margin-top:10%;
      }

      @media #{$small-only} {
        margin-top:10%;
      }
    }
  }

.circle-shadow {
  margin-right: 1rem;
  box-shadow: 1rem -1rem 0 $primary-color;
}


h1, h2, h2, h3, h4, h5, h6 {
    span.underline {
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 0.2em;
            position: absolute;
            bottom: 0.175em;
            left: 0;
            z-index: -1;
            background: $primary-color;
        }

        &.light {
            &:after {
              background: $warning-color;
            }
        }
    }
}


h1, h2, h3, h4 {
    text-transform: uppercase;
}

.xsmall {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

small {
   font-size: 1.1rem;
   font-weight: $font-weight-light;
}

.large {
    font-size: calc(16px + 1vw);
    padding-right: 1rem;
}

.panel {
    box-shadow: -3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
}

.recent-giving {

  .item {
    padding: 1rem 0;
    border-bottom: 1px solid $iron;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .timestamp {
    margin-top: 0;
    padding-top: 0;
    color: $primary-color;
  }
}

.left{
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.urgent-needs {
    .theme {
        padding: 0;
        position: relative;
        margin-top: 60px;

        .theme-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            top: -60px;
            right: 5%;
            border-radius: 100%;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.info {
                border: 3px solid $info-color;
            }

            &.success {
                border: 3px solid $success-color;
            }

            &.primary {
                border: 3px solid $primary-color;
            }
        }

        .header {
            padding: 1rem;
            padding-top: 60px;

            &.bg-info {

            }
        }

        .need {
            padding: 1rem;

            p {
                margin-bottom: 0;
            }
        }

        .icon {
            height: 24px;
            padding-right: 6px;
            color: $white;
        }

        .progress {
            margin-bottom: 0;
        }

        .progress-bar {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;

    .arrow-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }

    .arrow-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }
}

.testimonials {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
}


.testimonial-card {
    padding: 10px;
    padding-bottom: 60px;

    .panel {
        padding: 2rem;
        padding-bottom: 60px;

        .testimonial-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            bottom: -60px;
            right: 10%;
            border-radius: 100%;
            border: 3px solid $primary-color;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .quote {
        p {
            font-size: calc(16px + 1vw);
            font-style: italic;
        }
    }

    .line {
        width: 60px;
        height: 3px;
        background: $primary-color;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .attribution {
        font-weight: $font-weight-light;

        p {
            margin-bottom: 0;
        }

        .small {
            font-size: 1.1rem;
        }
    }

    @media #{$medium-up} {
        .quote {
            p {
                font-size: rem-calc(30);
                font-style: italic;
            }
        }

        .attribution {

            .small {
                font-size: 0.9rem;
            }
        }

    }
}


.padding-top-lg {
    padding-top: 2rem;
}

.padding-bottom-lg {
    padding-bottom: 2rem;
}

.margin-top-sm {
    margin-top: 1rem;
}
.margin-bottom-sm {
    margin-bottom: 1rem;
}
.landing-text {
  color: $white;
  padding-top: 3vh;

    h1, h2, h3, h4, h5, h6, p, a {
        color: $white;
    }
}

.bg-info {
    background: $info-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p, a {
        color: $white;
    }
}

.bg-primary {
    background: $primary-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-success {
    background: $success-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-warning {
    background: $warning-color;
}

.bg-ghost {
    background: $ghost;
}

.number {
    color: $primary-color;
    margin-bottom: 0.5rem;
}

.how-it-works {
    .step {
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        .number {
            position: absolute;
            z-index: 1;
            display: flex;

            h3 {
                font-size: rem-calc(140);
                color: $warning-color;
                line-height: 0.8;
                margin-top: 0;
                transform: translate(-5px, -5px);
            }

            h4 {
                font-size: calc(24px + 2vw);
            }
        }

        .circle {
            img {
                object-fit: contain;
            }
        }

        p {
            color: $white;
            font-weight: 600;
            margin-top: 1rem;
            line-height: 1.2;
        }
    }
}


.logos {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: stretch;

    .columns {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .partner-logo img {
        max-height: 120px;
    }
}

.news.panel {
    h6 {
        color: $jet;
        margin-bottom: 1rem;
    }

    .news-logo {
        padding: 6px;
    }
}

.type-label {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 1rem;
}

.alert {
    color: $alert-color;
}

.banner {
    padding: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    z-index: 3;
    transition: transform 0.5s linear, opacity 0.5s ease-in;
    position: relative;

    .alert-content {
        p {
            font-size: 1.2rem;
            font-weight: $font-weight-normal;
            line-height: 1.2;
            margin-bottom: 0;
        }

        a {
            padding-left: 10px;
        }
    }
}

h1 {
    font-size: calc(30px + 4.8vw);
}

h2 {
    font-size: calc(28px + 3vw);
}

h3 {
    font-size: calc(22px + 2.2vw);
}

.columns {
    z-index: 0;
}

footer {
    font-weight: $font-weight-light;
    padding-top: 2rem;

    h6 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {

            a {
                color: $jet;
                font-weight: $font-weight-light;
            }
        }

        &.inline {
            li {
                display:inline;
            }
        }
    }

    .needslist-invite-footer {
        img {
            height: 60px;
        }
    }

    .newsletter {
        display: flex;
        align-items: stretch;

        .form {
            flex-grow: 1;
        }

        #edit-actions--2 {
            margin-left: 10px;
        }

        #edit-mergevars-email {
            height: 50px;
            box-shadow: none;
        }
    }

    .bottom-bar {
        li {
            font-size: 1rem;
        }
    }
}

#global-map {
    height: 420px;
}

.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $primary-color;
  cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media #{$medium-up} {

    .padding-top-lg {
      padding-top: 4rem;
    }

    .padding-top-sm {
      padding-top: 2rem;
    }

    .padding-bottom-lg {
      padding-bottom: 4rem;
    }

    .margin-top-sm {
      margin-top: 1rem;
    }
    .margin-bottom-sm {
      margin-bottom: 1rem;
    }
}

@media #{$large-up} {
  .overlap-1 {
    height: 150px;
  }

  .overlap-2 {
    height: 350px;
  }

  .stagger {
      margin-top: 6rem;
  }

  .how-it-works {
    .step {
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 1rem;

        .number {
            position: absolute;
            z-index: 1;
            display: flex;

            h3 {
                font-size: rem-calc(140);
                color: $warning-color;
                line-height: 0.8;
                margin-top: 0;
                transform: translate(-5px, -5px);
            }

            h4 {
                font-size: rem-calc(48);
            }
        }

        .circle {
            img {
                object-fit: contain;
            }
        }

        p {
            color: $white;
            font-weight: 600;
            margin-top: 1rem;
            line-height: 1.2;
        }
    }

    #step-1 {
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: $white;
            top: 36%;
            left: 75%;
            z-index: -1;
            transform: rotate(20deg);
            opacity: 0;
            transition: all 0.5s linear;
        }

        &.expanded {
            &:after {
                width: 100%;
                top: 55%;
                opacity: 1;
            }
        }

        &.gone {
            &:after {
                width: 0;
                top: 36%;
                opacity: 0;
            }
        }
    }

    #step-2 {
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background: $white;
            top: 50%;
            right: 50%;
            z-index: -1;
            transform: rotate(-35deg);
            opacity: 0;
            transition: all 0.5s linear;
        }

        &.expanded {
            &:after {
                width: 100%;
                top: 85%;
                opacity: 1;
            }
        }
    }
  }
}

