body {
    padding-top: 75px;
}

nav.top-bar {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    top: 0;
    margin-bottom: 10rem;
    
    @media #{$medium-up} { 
    height: 5rem;
    width: 100%;
    margin-bottom: 10rem;

  }
    @media #{$medium-only} {
    height: 5rem;
    width: 100%;
   }
    
    @media #{$small-up} { 
    height: 5rem;
  }
    @media #{$small-only} {
    height: 5rem;
   }

    ul li a {
        padding-top: 8px !important;
            img {
            padding: 8px;
            height: 40px;
        }
    }

    ul li.name a img {
        height: 64px;
        padding-left: 20px;
    }

    ul li.menu-icon a {
        padding-top: 0 !important;
    }
}

.landing-head {
  margin-top: 5rem;
  @media #{$medium-up} {
    height: 600px;
    }
  @media #{$medium-only} {
    height: 15%;
  }
  @media #{$small-up} {
    height: 5%;
  }
  @media #{$small-only} {
    height: 15%;
  }
}

.circle {
    background: $primary-color;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;

    img {
        bottom: 0;
        height: 100%;
        width: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

  .rectangle{
    background: $info-color;
    padding-top: 15rem;
    padding-bottom: 10rem;
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    display: inline;
    width:100%;

    
    @media #{$large-up} {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 100% 75%, 75% 100%, 0% 75%, 0% 75%);
    }
    @media #{$medium-up} {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 100% 75%, 75% 100%, 0% 75%, 0% 75%);
    height: 100%;
    }
    @media #{$small-up} {
    height: 60%;
    }

    img {
      position: absolute;
      width: 100%;
      object-fit: fill;

      @media #{$large-up} {
        top:5%;
      }
      @media #{$medium-up} {
        top:5%;
      }
      
    }
  }

  .top-image {
    position: absolute;
    img {
      margin-top:20%;
      
      @media #{$medium-up} { 
      margin-top:35%;
    }
      @media #{$medium-only} {
      margin-top:35%;
     }
      
      @media #{$small-up} { 
      margin-top:10%;
    }
      @media #{$small-only} {
      margin-top:10%;
     }
    }
  }

.circle-shadow {
    margin-right: 1rem;
    box-shadow: 1rem -1rem 0 $primary-color;
}

@for $i from 1 through 5 {
    $margin: 10rem * $i;
    .stagger-#{$i} {
        margin-top: $margin;
    }
}

/*a {
  text-decoration: underline;
}*/

h1, h2, h2, h3, h4, h5, h6 {
    span.underline {
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 0.2em;
            position: absolute;
            bottom: 0.175em;
            left: 0;
            z-index: -1;
            background: $primary-color;
        }

        &.light {
            &:after {
                background: $warning-color;
            }
        }
    }
}


h1, h2, h3, h4 {
    text-transform: uppercase;
}

.xsmall {
  font-size: 0.8rem;
  font-weight: normal;
}

small {
   font-size: 1.1rem;
   font-weight: $font-weight-light;
}

.large {
    font-size: 1.8rem;
    padding-right: 1rem;
}

.panel {
    box-shadow: -3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
}

.recent-giving {
  margin: auto;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 0;
  margin-top: 5%;
  position: relative;
  display: block;
  right: 0;
  border-right: 1px solid $primary-color;
  align-items: right;
  justify-content: right;

  .timestamp {
  margin-top: 0;
  padding-top: 0;
  color: $primary-color;
  }
}
.left{
  left: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.feature-items {
    margin-bottom: 2rem;
    margin:0 auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid $warning-color;
    align-items: center;
    justify-content: center;

    .feature-img {
      margin-bottom: 0.5rem;
      //height: 100px;
      //width: 100px;
      position: relative;
      //border-radius: 50%;
      align-items: center;
      overflow: hidden;

      img {
        display: inline;
        margin: 0 auto;
        margin-left: -25%; //centers the image
        height: 100%;
        width: auto;
      }
    }

}

.urgent-needs {
    .theme {
        padding: 0;
        position: relative;
        margin-top: 60px;

        .theme-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            top: -60px;
            right: 5%;
            border-radius: 100%;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.info {
                border: 3px solid $info-color;
            }

            &.success {
                border: 3px solid $success-color;
            }

            &.primary {
                border: 3px solid $primary-color;
            }
        }

        .header {
            padding: 1rem;
            padding-top: 60px;
            

            &.bg-info {

            }
        }

        .need {
            padding: 1rem;

            p {
                margin-bottom: 0;
            }
        }

        .icon {
            height: 24px;
            padding-right: 6px;
            color: $white;
        }

        .progress {
            margin-bottom: 0;
        }

        .progress-bar {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;

    .arrow-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }

    .arrow-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        img {
            width: 60px;
            transform: translateY(-50px)
        }
    }
}

.testimonials {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
}


.testimonial-card {
    padding: 10px;
    padding-bottom: 60px;

    .panel {
        padding: 2rem;
        padding-bottom: 60px;

        .testimonial-logo {
            position: absolute;
            height: 120px;
            width: 120px;
            bottom: -60px;
            right: 10%;
            border-radius: 100%;
            border: 3px solid $primary-color;
            background: $white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .quote {
        p {
            font-size: rem-calc(22);
            font-style: italic;
        }
    }

    .line {
        width: 60px;
        height: 3px;
        background: $primary-color;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .attribution {
        font-weight: $font-weight-light;

        p {
            margin-bottom: 0;
        }

        .small {
            font-size: 1.1rem;
        }
    }

    @media #{$medium-up} {
        .quote {
            p {
                font-size: rem-calc(30);
                font-style: italic;
            }
        }

        .attribution {

            .small {
                font-size: 0.9rem;
            }
        }

    }
}


.padding-top-lg {
    padding-top: 2rem;
}

.padding-bottom-lg {
    padding-bottom: 2rem;
}

.margin-top-sm {
    margin-top: 1rem;
}
.margin-bottom-sm {
    margin-bottom: 1rem;
}
.landing-text {
    color: $white;
    h1, h2, h3, h4, h5, h6, p, a {
        color: $white;
    }
}

.bg-info {
    background: $info-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p, a {
        color: $white;
    }
}

.bg-primary {
    background: $primary-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-success {
    background: $success-color;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        color: $white;
    }
}

.bg-warning {
    background: $warning-color;
}

.bg-ghost {
    background: $ghost;
}

.number {
    color: $primary-color;
    margin-bottom: 0.5rem;
}

.how-it-works {
    .step {
        position: relative;
        padding-left: 40px;
        padding-right: 40px;

        .number {
            position: absolute;
            z-index: 1;
            padding-left: 10px;

            h3 {
                font-size: rem-calc(120);
                color: $warning-color;
                line-height: 0.8;
                margin-top: 0;
            }
        }

        .circle {
            img {
                object-fit: contain;
            }
        }

        p {
            color: $white;
            font-weight: 600;
            margin-top: 1rem;
            line-height: 1.2;
        }
    }
}


.logos {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;

    .partner-logo img {
        max-height: 120px;
    }
}

.news.panel {
    h6 {
        color: $jet;
        margin-bottom: 1rem;
    }

    .news-logo {
        padding: 6px;
    }
}

.type-label {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 1rem;
}

.alert {
    color: $alert-color;
}

.banner {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid $warning-color;
    padding: 0.5rem;
    position: fixed;
    z-index: 3;
    width: 10%;
    transition: transform 0.5s linear, opacity 0.5s ease-in;
    
    @media #{$large-up} {
      left:0;
      bottom:0;
      width: 200px;
    }
    
    @media #{$medium-up} {
      right:0;
      width: 200px;
    }
    
    @media #{$medium-only} {
      width: 100%;
      bottom:0;
      height: 5%;
    }

    @media #{$small-only} {
      width: 100%;
      bottom:0;
      height: 5%;
    }

    .alert-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.2rem;
            font-weight: $font-weight-normal;
            line-height: 1.2;
            margin-bottom: 0;
        }

        button {
            white-space: nowrap;
        }
    }

    &.fade-out {
        transform: translate3d(0, -100%, 0) !important;
        opacity: 0 !important;
    }
}

h1 {
    font-size: calc(30px + 4.8vw);
}

h2 {
    font-size: calc(28px + 3vw);
}

h3 {
    font-size: calc(22px + 2.2vw);
}

.columns {
    z-index: 0;
}

footer {
    font-weight: $font-weight-light;
    padding-top: 2rem;

    h6 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {

            a {
                color: $jet;
                font-weight: $font-weight-light;
            }
        }

        &.inline {
            li {
                display:inline;
            }
        }
    }

    .needslist-invite-footer {
        img {
            height: 60px;
        }
    }

    .newsletter {
        display: flex;
        align-items: stretch;

        .form {
            flex-grow: 1;
        }

        #edit-actions--2 {
            margin-left: 10px;
        }

        #edit-mergevars-email {
            height: 50px;
            box-shadow: none;
        }
    }

    .bottom-bar {
        li {
            font-size: 1rem;
        }
    }
}

#global-map {
    height: 420px;
}

.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $primary-color;
  cursor: pointer;
}

@media #{$medium-up} {

    .columns.overlap-1 {
        height: 150px;
    }

    .columns.overlap-2 {
        height: 350px;
    }

    .stagger {
        margin-top: 6rem;
    }

    .padding-top-lg {
        padding-top: 4rem;
    }

    .padding-top-sm {
        padding-top: 2rem;
    }



    .padding-bottom-lg {
        padding-bottom: 4rem;
    }

    .margin-top-sm {
        margin-top: 1rem;
    }
    .margin-bottom-sm {
        margin-bottom: 1rem;
    }
}

@media #{$xlarge-up} {
    h1 {
        font-size: calc(30px + 3.6vw);
    }
}
